{% extends 'partials/_two_column.html' %}
{% from "macros/form_field_macros.html" import render_field %}

{% block title %} Home {% endblock %}


{% block aside %}
<div>
    {% with method = 'GET' %}

        {% include 'partials/_form.html' %}

    {% endwith %}

</div>
{% endblock %}
{% block main_content %}
    <div class="row my-5 card-wrapper test">
        {% if items %}
            {% for item in items  %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        {% include 'partials/_item_card.html' %}
                    </div>
                </div>
             {% endfor %}
        {% endif %}
    </div>

{% endblock %}