{% extends 'partials/_two_column.html' %}
{% from "macros/form_field_macros.html" import render_field %}

{% block title %} Home {% endblock %}


{% block aside %}
<div>
    {% with method = 'GET' %}

         {% include 'partials/_form.html' %}

    {% endwith %}

</div>
{% endblock %}
{% block main_content %}
{% if items %}
{% for item in items  %}
    {% if loop.index0 % 3 == 0 %}
    <div class="row">
    {% endif %}
    {% include 'partials/_item_card.html' %}
    {% if loop.index % 3 == 0 %}
    </div>
    {% endif %}
{% endfor %}
{% endif %}




{% endblock %}