   <a href="{{ url_for('item.item', item_id=item.id ) }}" class="anchor-hidden">
    <div class="embed-responsive embed-responsive-16by9">
    <img src="{% if item.image%}{{ url_for('main.uploads', filename=item.image ) }}{%else%}{{ url_for('static', filename='images/beer.jpg' ) }}{% endif %}" class="card-img-top embed-responsive-item" alt="...">
    </div>
      <div class="card-body">
        <h4 class="card-title">
          {{ item.title }}
          </h4>


        <h5>{{ "%.2f PLN" | format(item.price) }}</h5>
        <p class="card-text">{{item.description}}</p>


    </div>
    <div class="card-footer">
      <small class="text-muted"> {{item.category_name}} -> {{item.subcategory_name}}
      </small>
    </div>
      </a>
