.img-fit-cover {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.img-fit {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    margin-top: 25px;

}

.card {
    margin-bottom: 15px;
}

.margin {
    padding: 0.5em;
}
